
*{margin:0;}
header
{
    padding: 27px;
}

body
{   
    background-color:#29abe2;
    background-size: contain;
}

form
{
    margin: 60px;
}

footer
{
    background-image: url("imagens/rodape-desktop.jpg");
    position: relative;
    padding: 54px 0 54px 0;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

input[type=text], input[type=email], input[type=date], input[type=tel]
{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

.line
{
    background-color: white;
    bottom: -2px;
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    border: none;
}

.center
{
    display: flex;
    justify-content: center;
}

.menuSec
{
    background-image: url("imagens/index-image.jpg");
    width: 100%!important;
    height: 575px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.listCSV
{
    padding: 10px auto 10px auto;
    background-color: white;
}

.footer-text
{

}