
*{margin:0;}
header
{
    padding: 27px;
}

body
{   
    background-color:#29abe2;
    background-size: contain;
}

form
{
    margin: 60px;
}

footer
{
    background-image: url("imagens/rodape-desktop.jpg");
    position: relative;
    padding: 54px 0 54px 0;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

input[type=text], input[type=email], input[type=date], input[type=tel]
{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

h1
{
    text-align: center;
    font-family: Helve;
}

.line
{
    background-color: white;
    bottom: -2px;
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    border: none;
}

.center
{
    display: flex;
    justify-content: center;
}

.menuSec
{
    background-image: url("imagens/index-image.jpg");
    width: 100%!important;
    height: 575px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.botao
{
    color: #29abe2;
    font-size: 3.0rem;
    background-color: #012d51;
    padding: 7px;
    width: 40%;
    max-width: 400px;
    border: 1px solid #012d51;
}

.botao:hover
{
    cursor: pointer;
    border-left: 10px solid rgb(40, 0, 80);
    border-bottom: 10px solid rgb(40, 0, 80);
    -webkit-transition: 0.5s;
}

.listCSV
{
    padding: 10px auto 10px auto;
    background-color: white;
}

.footer-text
{

}

@font-face {
    font-family: Helve;
    src: url('Fonts/HelveticaUltraLt_0.ttf');
}

@font-face {
    font-family: PS;
    src: local(PS),url("Fonts/ps.ttf");
}

@font-face {
    font-family: RobotoLight;
    src: local(RobotoLight), url("Fonts/Roboto-Light_0.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: local(RobotoRegular), url("Fonts/Roboto-Regular_0.ttf");
}