
*{margin:0;}
nav
{
}

body
{
    background-size: contain;
}

form
{
    color: white;
}

footer
{
    background-image: url("imagens/rodape-desktop.jpg");
    position: relative;
    padding: 64px 0 59px 0;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

input[type=text], input[type=email], input[type=date], input[type=tel]
{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 120%;
    font-family: PS;
}

.line
{
    background-color: white;
    bottom: -2px;
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    border: none;
}

.center
{
    display: flex;
    justify-content: center;
}

.menuSec
{
    background-image: url("imagens/index-image.jpg");
    width: 100%!important;
    height: 575px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cadastro
{
    background-color: #29abe2;
    margin: auto;
    padding: auto;
}

.button
{
    color: #29abe2;
    font-size: 125%;
    background-color: #012d51;
    padding: 5px;
    min-width:70%;
    width: 30px;
    border: 1px solid #012d51;
}

.button:hover
{
    cursor: pointer;
    background-color: #0a4c83;
    border: 1px solid #0a4c83;
    border-radius: 25px;
    -webkit-transition: 0.5s;
}

.listCSV
{
    
}

.footer-text
{
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6
{
    font-family: HELVES;
}

.title
{
    margin: 0;
    color: white;
    margin-top: 12%;
    font-size: 3.2rem;
    font-family: Helvetic;
}

.title2
{
    margin: 30px;
    font-size: 200%;
    font-family: RobotoRegular;
}

.elementForm
{
    margin-bottom: 15px;
}

.elementForm p
{
    font-family: RobotoRegular;
}

.footer-text p
{
    margin: 17px;
    font-family: RobotoLight;
}

@font-face {
    font-family: Helvetic;
    src: url("Fonts/HelveticaUltraLt_0.ttf");
}

@font-face {
    font-family: PS;
    src: url("Fonts/ps.ttf");
}

@font-face {
    font-family: RobotoLight;
    src: url("Fonts/Roboto-Light_0.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("Fonts/Roboto-Regular_0.ttf");
}